{% extends 'base/base.html' %}
{% load static %}
{% block content %}

        <div class="cart-table-area section-padding-100" id="cartapp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>
                        {% if cart %}
                            {% for item in cart %}
                                {% with article=item.article%}
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>

                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr v-for="article in articles">
                                        <td class="cart_product_img"><a href="#"><img :src="article.photo" alt="Product"></a>

                                        </td>

                                        <td>[[article.title]]<button @click.prevent="removeFromCart(article.id)" style="border: 50px; height: 40px; margin-bottom: 10px; border-radius: 10px; background-color: #fbb711; padding: 0 10px; color: white">Remove to cart</button></td>
                                        <td>[[article.total_prix]]</td>
                                        <td>
                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i  @click='decrementQuantity(article.id, article.quantity)' class="fa fa-minus" aria-hidden="true"></i></span>
                                            [[article.quantity]]
                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true" @click.prevent='incrementQuantity(article.id , article.quantity)'></i></span>
                                        </td>
                                    </tr>
                                           
                                    <!-- <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{article.image.url}}" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{article.nom|title}}</h5>
                                            <button @click.prevent="removeFromCart({{ article.id }})" style="border: 50px; height: 40px; margin-bottom: 10px; border-radius: 10px; background-color: #fbb711; padding: 0 10px; color: white">Remove to cart</button>
                                        </td>
                                        <td class="price">
                                            <span>{{item.total_prix}}</span>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                
                                                <div class="quantity">
                                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i  @click='decrementQuantity({{ article.id }}, {{item.quantity}})' class="fa fa-minus" aria-hidden="true"></i></span>
                                                    <p>{{item.quantity}}</p>
                                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true" @click='incrementQuantity({{ article.id }}, {{item.quantity}})'></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr -->
                                            
                                            
                                </tbody>
                            </table>
                        </div>
                                {% endwith %}
                            {% endfor %}
                            {% else %}
                           <h5>Your Cart is empty </h5> 
                        {% endif %}
                        
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>$140.00</span></li>
                                <li><span>delivery:</span> <span>Free</span></li>
                                <li v-for='article in articles'><span>total:</span> <span>[[article.total_price]]</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'index' %}" class="btn amado-btn w-100">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#cartapp',
        delimiters : ['[[', ']]'],
        data () {
            return {
                articles: [{{ productsstring |safe}}]
            }
        },
        mounted() {
            console.log('Mounted');
            console.log(this.articles);
        },
        methods:{
            decrementQuantity(article_id, quantity){
                console.log('Article_id:', article_id);
                

                var data = {
                    'article_id': article_id,
                    'update': true,
                    'quantity' : parseInt(quantity) - 1 };

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content_Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token}}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                        
                    console.log(response)
                })
                .catch(function (error) {
                    console.log('error 2');
                    console.log(error);
                })
            },
            incrementQuantity(article_id, quantity){
                console.log('Article_id:', article_id);
                

                var data = {
                    'article_id': article_id,
                    'update': true,
                    'quantity' : parseInt(quantity) + 1 };

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content_Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token}}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                        
                    console.log(response)
                })
                .catch(function (error) {
                    console.log('error 2');
                    console.log(error);
                })
            
            },
            
            removeFromCart(article_id){
                console.log('Article_id:', article_id);

                var data = {'article_id': article_id, 'update': false, 'quantity' : 1 };

                fetch('/api/remove_from_cart/', {
                    method: 'POST',
                    headers: {
                        'Content_Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token}}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                        
                    console.log(response)
                    this.articles = this.articles.filter(article => article.id !== article_id)
                })
                .catch(function (error) {
                    console.log('error 2');
                    console.log(error);
                })
            }
        }
    })
</script>
{% endblock %}